@page
@model IndexModel
@{
    ViewData["Title"] = "TP 1 - Desenvolvimento Web com .NET e Bases de Dados";
}

<div class="text-center">
    <h1 class="display-4">TP 1 - Desenvolvimento Web com .NET e Bases de Dados</h1>
</div>
